ENV=dev
BOOKING_BASE_URL=https://restful-booker.herokuapp.com
GITHUB_BASE_URL=https://api.github.com
GITHUB_TOKEN=
BOOKER_USERNAME=
BOOKER_PASSWORD=
GITHUB_OWNER=
GITHUB_REPO=
TIMEOUT_SECONDS=30
RETRY_MAX_ATTEMPTS=3
RETRY_BASE_DELAY_MS=1000
RETRY_MAX_DELAY_MS=8000
RETRY_JITTER_MS=250
RESPONSE_TIME_SLA_MS=3000
