openapi: 3.0.3
info:
  title: GitHub REST API subset
  version: 1.0.0
servers:
  - url: https://api.github.com
paths:
  /users/{username}:
    parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
          minLength: 1
    get:
      operationId: getUser
      summary: Get a user
      responses:
        '200':
          description: Public user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubUser'
        '404':
          description: User does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubError'
  /repos/{owner}/{repo}:
    parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: repo
        in: path
        required: true
        schema:
          type: string
          minLength: 1
    get:
      operationId: getRepository
      summary: Get a repository
      responses:
        '200':
          description: Repository details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubRepository'
        '404':
          description: Repository does not exist or is not visible to caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubError'
  /repos/{owner}/{repo}/issues:
    parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: repo
        in: path
        required: true
        schema:
          type: string
          minLength: 1
    get:
      operationId: listRepositoryIssues
      summary: List repository issues
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [open, closed, all]
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Repository issues
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GithubIssue'
        '404':
          description: Repository does not exist or is not visible to caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubError'
    post:
      operationId: createRepositoryIssue
      summary: Create repository issue
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GithubIssueRequest'
      responses:
        '201':
          description: Issue created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubIssue'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubError'
        '404':
          description: Repository does not exist or is not visible to caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubError'
  /repos/{owner}/{repo}/issues/{issue_number}:
    parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: repo
        in: path
        required: true
        schema:
          type: string
          minLength: 1
      - name: issue_number
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    patch:
      operationId: updateRepositoryIssue
      summary: Update repository issue
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GithubIssueRequest'
      responses:
        '200':
          description: Issue updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubIssue'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubError'
        '404':
          description: Repository or issue does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubError'
  /search/repositories:
    get:
      operationId: searchRepositories
      summary: Search repositories
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 1
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Repository search result page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubRepositorySearch'
        '422':
          description: Query validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubError'
  /rate_limit:
    get:
      operationId: getRateLimit
      summary: Get rate limit state
      responses:
        '200':
          description: Rate limit resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GithubRateLimit'
components:
  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
  schemas:
    GithubUser:
      type: object
      required: [login, id, type, public_repos]
      additionalProperties: true
      properties:
        login:
          type: string
        id:
          type: integer
        type:
          type: string
        public_repos:
          type: integer
          minimum: 0
    GithubRepository:
      type: object
      required: [id, name, full_name, private, fork, default_branch]
      additionalProperties: true
      properties:
        id:
          type: integer
        name:
          type: string
        full_name:
          type: string
        private:
          type: boolean
        fork:
          type: boolean
        default_branch:
          type: string
        visibility:
          type: string
    GithubIssue:
      type: object
      required: [id, number, title, state, url]
      additionalProperties: true
      properties:
        id:
          type: integer
        number:
          type: integer
        title:
          type: string
        state:
          type: string
          enum: [open, closed]
        body:
          nullable: true
          type: string
        url:
          type: string
    GithubIssueRequest:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          minLength: 1
        body:
          type: string
        state:
          type: string
          enum: [open, closed]
        labels:
          type: array
          items:
            type: string
        assignees:
          type: array
          items:
            type: string
        milestone:
          nullable: true
          type: integer
    GithubRepositorySearch:
      type: object
      required: [total_count, incomplete_results, items]
      additionalProperties: true
      properties:
        total_count:
          type: integer
          minimum: 0
        incomplete_results:
          type: boolean
        items:
          type: array
          items:
            $ref: '#/components/schemas/GithubRepository'
    GithubRateLimit:
      type: object
      required: [resources]
      additionalProperties: true
      properties:
        resources:
          type: object
          required: [core]
          additionalProperties: true
          properties:
            core:
              $ref: '#/components/schemas/GithubRateLimitBucket'
            search:
              $ref: '#/components/schemas/GithubRateLimitBucket'
    GithubRateLimitBucket:
      type: object
      required: [limit, remaining, reset, used]
      additionalProperties: true
      properties:
        limit:
          type: integer
          minimum: 0
        remaining:
          type: integer
          minimum: 0
        reset:
          type: integer
        used:
          type: integer
          minimum: 0
    GithubError:
      type: object
      required: [message]
      additionalProperties: true
      properties:
        message:
          type: string
